body{
    border: 10px solid black;
}
section{
    max-width: 400px;
    margin: 10vh ;
    box-shadow: 0px 0px 43px 17px rgb(75, 75, 235);
}
#display{
    text-align: right;
    height: 50px;
    line-height: 50px;
    padding: 16px 8px;
    font-size: 25px;
     border: 3px solid rgb(173, 73, 73);
    cursor: pointer;
}
 .buttons{
display: grid;
border-bottom: 1px solid bisque;
border-left: 1px solid bisque;
 grid-template-columns: 1fr 1fr 1fr 1fr ;  /*1FR=25% of the available space. */
}
.buttons > div{
border-top: 1px solid green;
border-right: 1px solid green;
}
div.buttons{
    border: 0.5px solid green;
    line-height: 50px;
    text-align:center;
    font-size: 30px;
    cursor: pointer;
}
#equal{
    background-color: rgb(128, 196, 60);
    color: blueviolet;
}
.buttons :hover{
    background-color: rgb(204, 120, 25);
    color: rgb(203, 155, 83);
    transition: 0.5s;
}